This script shrinks the original data to a smaller data set for faster testing.

In [1]:
import os 
import pickle 
import numpy as np 
import pandas as pd 
from collections import Counter 

# read the edited ratings file by preprocess.py
os.chdir(r'/home/qshan/Desktop/Repos/Big_Data_Projects/Recommender_System/User_User_Collaborative_Filtering')
df = pd.read_csv('../data/ml-20m/edited_ratings.csv')
df.describe()

             userId       movieId        rating     movie_idx
count  2.000026e+07  2.000026e+07  2.000026e+07  2.000026e+07
mean   6.904487e+04  9.041567e+03  3.525529e+00  3.612611e+03
std    4.003863e+04  1.978948e+04  1.051989e+00  4.154454e+03
min    0.000000e+00  1.000000e+00  5.000000e-01  0.000000e+00
25%    3.439400e+04  9.020000e+02  3.000000e+00  8.870000e+02
50%    6.914000e+04  2.167000e+03  3.500000e+00  2.085000e+03
75%    1.036360e+05  4.770000e+03  4.000000e+00  4.677000e+03
max    1.384920e+05  1.312620e+05  5.000000e+00  2.674300e+04

In [2]:
print('Original data size: ', len(df))

Original data size:  20000263

In [5]:
# number of occurences of userId and movieId 
user_ids_count = Counter(df.userId)
movie_ids_count = Counter(df.movie_idx)

In [10]:
user_ids_count.most_common(5)

[(118204, 9254), (8404, 7515), (82417, 5646), (121534, 5520), (125793, 5491)]

In [11]:
# number of users and movies to keep in an subset 
n = 10000
m = 2000

# find the most common userId and movieId 
user_ids = [u_id for u_id, _ in user_ids_count.most_common(n)]
movie_ids = [m_id for m_id, _ in movie_ids_count.most_common(m)]

# deep copy 
df_small = df[df.userId.isin(user_ids) & df.movie_idx.isin(movie_ids)].copy()


# reindex the user and movie ids so they are consecutive 
new_user_id_map = {}
count = 0 
for id_ in user_ids:
    new_user_id_map[id_] = count 
    count += 1 
    
new_movie_id_map = {}
count = 0 
for id_ in movie_ids:
    new_movie_id_map[id_] = count 
    count += 1 

print('Add new ids back to data')
df_small.loc[:, 'userId'] = df_small.apply(lambda row: new_user_id_map[row.userId], axis = 1)
df_small.loc[:, 'movie_idx'] = df_small.apply(lambda row: new_movie_id_map[row.movie_idx], axis = 1)
print('New ids added')

Add new ids back to data

In [12]:
df_small.describe()

             userId       movieId        rating     movie_idx
count  5.392025e+06  5.392025e+06  5.392025e+06  5.392025e+06
mean   4.064699e+03  6.735166e+03  3.448249e+00  6.865674e+02
std    2.904367e+03  1.498554e+04  1.016841e+00  5.495762e+02
min    0.000000e+00  1.000000e+00  5.000000e-01  0.000000e+00
25%    1.471000e+03  1.172000e+03  3.000000e+00  2.110000e+02
50%    3.614000e+03  2.289000e+03  3.500000e+00  5.520000e+02
75%    6.432000e+03  4.033000e+03  4.000000e+00  1.078000e+03
max    9.999000e+03  1.093740e+05  5.000000e+00  1.999000e+03

In [13]:
# save to disk 
df_small.to_csv('../data/ml-20m/small_ratings.csv', index = False)